<!DOCTYPE html>
<html lang="en">

<head>
        {{>headers}}
        <link rel="stylesheet" href="/home.css">
        <title>Document</title>
</head>

<body>
        {{>userNavbar userName=userName}}
        <div class="home-truck-header">
                <div class="home-header">Driver Data <i class="fa-solid fa-table"></i></div>
                <button id="addTruckBtn" class="home-add-truck-btn">Add Truck <i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div id="addTruckForm" class="home-add-truck-form-container hidden">
                <div class="home-add-truck-overlay ">
                <div class="home-add-truck-form">
                        <div class="home-add-truck-form-header">
                                Add Truck <i class="fa-solid fa-truck-moving"></i>
                        </div>
                        <button id="addTruckClose" class="home-truck-close"><i class="fa-solid fa-circle-xmark"></i></button>
                        <form action="/add" method="POST">
                        <label >Enter Channel Id</label>
                        <input name="channelId" type="text" placeholder="7 digit code" required>
                        <input type="submit" value="Add Truck+">
                        </form>
                </div>
                </div>
        </div>
        <table>
                <thead>
                <tr>
                        <th>Truck  <i class="fa-solid fa-truck-moving"></i></th>
                        <th>Heart Rate <i class="fa-solid fa-heart-pulse"></i></th>
                        <th>Blood Oxygen <i class="fa-solid fa-hand-holding-medical"></i></th>
                        <th>Temperature <i class="fa-solid fa-temperature-half"></i></th>
                        <th>Air Quality <i class="fa-solid fa-wind"></i></i></th>
                        <th>Latitude <i class="fa-solid fa-location-dot"></i></th>
                        <th>Longitude <i class="fa-solid fa-location-dot"></i></th>
                        <th>Watch Worn <i class="fa-solid fa-circle-exclamation"></i></th>
                        <th>View</th>
                </tr>
                </thead>
                <tbody>
                        <tr id="row1">
                                <td >{{truckNum}}</td>
                                <td id="hr"></td>
                                <td id="oxy"></td>
                                <td id="temp"></td>
                                <td id="aqi"></td>
                                <td id="latitude"></td>
                                <td id="longitude"></td>
                                <td id="watch"></td>
                                <td><a href="/driverhealth"><i class="fa-solid fa-circle-chevron-right"></i></a></td>
                        </tr>
                       
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td  class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>   
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                        <tr class="driver-truck">
                                <td class="driver-number">MH-00-ZZ-0000</td>
                                <td class="driver-heart">72 BPM</td>
                                <td class="driver-oxygen">98 %</td>
                                <td class="driver-temperature">37 &#176;C</td>
                                <td class="driver-aqi">Medium</td>
                                <td class="driver-latitude">72.343 &#176;</td>
                                <td class="driver-longitude">18.756 &#176;</td>
                                <td class="driver-watch">No</td>
                                <td><a href=""><i class="fa-solid fa-circle-chevron-right"></i></a></td>    
                        </tr>
                </tbody>
                <tfoot>
                <tr>
                        <th>Truck  <i class="fa-solid fa-truck-moving"></i></th>
                        <th>Heart Rate <i class="fa-solid fa-heart-pulse"></i></th>
                        <th>Blood Oxygen <i class="fa-solid fa-hand-holding-medical"></i></th>
                        <th>Temperature <i class="fa-solid fa-temperature-half"></i></th>
                        <th>Air Quality <i class="fa-solid fa-wind"></i></i></th>
                        <th>Latitude <i class="fa-solid fa-location-dot"></i></th>
                        <th>Longitude <i class="fa-solid fa-location-dot"></i></th>
                        <th>Watch Worn <i class="fa-solid fa-circle-exclamation"></i></th>
                        <th>View</th>
                </tr>
                </tfoot> 
</table>
        <script>
                const audioObj = new Audio('./beep-04.mp3');
        function randomGen(min,max) {
                let difference = max - min;
                let rand = Math.random();
                rand = Math.floor( rand * difference);
                rand = rand + min;
                return rand;
        }

                var truckValues = [...document.getElementsByClassName('driver-truck')]
                var heartValues = [...document.getElementsByClassName('driver-heart')]
                var oxygenValues = [...document.getElementsByClassName('driver-oxygen')]
                var tempValues = [...document.getElementsByClassName('driver-temperature')]
                var latitudeValues = [...document.getElementsByClassName('driver-latitude')]
                var longitudeValues = [...document.getElementsByClassName('driver-longitude')]

                setInterval(()=>{
                
                heartValues.map(x=>{
                        let beats = randomGen(30,130)
                        if(beats>120 || beats<30){
                                x.parentNode.classList.add('red-alert')
                                //audioObj.play()
                        }
                        else{
                                x.parentNode.classList.remove('red-alert')
                        }
                        x.innerHTML = beats + ' BPM'
                })
                oxygenValues.map(x=>{
                        x.innerHTML = randomGen(80,100) + ' %'
                })
                tempValues.map(x=>{
                        x.innerHTML = randomGen(30,40) + ' &#176;'
                })
                latitudeValues.map(x=>{
                        x.innerHTML = randomGen(80,100) + ' &#176;'
                })
                longitudeValues.map(x=>{
                        x.innerHTML = randomGen(50,100) + ' &#176;'
                })


                },2000)
                
                /*const apiKey = '{{{ apiKey }}}'
                const channelId = '{{{ channelId }}}'
                const truckNum = '{{{ truckNum }}}'
                //const d = [{truckNum:'{{{ trucks.truckNum }}}',apiKey:'{{{ trucks.apiKey }}}',channelId:'{{{ trucks.channelId }}}/'}]
                //console.log(d)

                const addTruckBtn = document.getElementById("addTruckBtn")
                const addTruckForm = document.getElementById("addTruckForm")
                const addTruckClose = document.getElementById("addTruckClose")
                addTruckBtn.addEventListener("click",()=>{
                        addTruckForm.classList.toggle("hidden")
                })
                addTruckClose.addEventListener("click",()=>{
                        addTruckForm.classList.toggle("hidden")
                })*/
                
/*                fetch(` https://api.thingspeak.com/channels/${channelId}/feeds.json?api_key=${apiKey}&results=2`).then(res=>res.json()).then(x=>{
                        let temp        = x.feeds[1].field1
                        let hr          = x.feeds[1].field2
                        let oxy         = x.feeds[1].field3
                        let watch       = x.feeds[1].field4
                        let location    = x.feeds[1].field6 
                        let aqi         = x.feeds[1].field5 
                        let cMono       = x.feeds[1].field7 
                        let dust        = x.feeds[1].field8.split('_')
                        let lat         = dust[0]
                        let long        = dust[1]

                        document.getElementById("temp").innerHTML           = `${temp} &#176;C`
                        document.getElementById("oxy").innerHTML            = `${oxy} %`
                        document.getElementById("hr").innerHTML             = `${hr} BPM`
                        document.getElementById("watch").innerHTML          =  watch?`Yes`:`No`
                        document.getElementById("aqi").innerHTML            =  aqi?`Good`:`Bad` 
                        document.getElementById('latitude').innerHTML       = `${lat} &#176;`
                        document.getElementById('longitude').innerHTML      = `${long} &#176;`

                })      */
       </script>
</body>
</html>

<!--div class="home-trucks-container">
                <div class="home-header-table">
                        <h1 class="home-header">Data</h1>
                        <button class="home-truck-add-button">Add Truck <i class="fa-solid fa-circle-plus"></i></button>
                </div>

                <div class="home-truck-data-names">
                        <div class="home-truck-data-names-number">
                                <i class="fa-solid fa-truck-moving"></i> Truck No.
                        </div>
                        <div class="home-truck-name-hr">
                                <i class="fa-solid fa-heart-pulse"></i> 
                                <span class="home-truck-name-BPM"> BPM</span> 
                        </div>
                        <div class="home-truck-name-oxy">
                                <i class="fa-solid fa-hand-holding-medical"></i>
                                <span class="home-truck-name-percent"> %</span> 
                        </div>
                        <div class="home-truck-name-hr">
                                <i class="fa-solid fa-temperature-half"></i>
                                <span class="home-truck-name-BPM"> &#176;C</span> 
                        </div>
                        <button id="home-drop-down-btn"><i class="fa-solid fa-circle-chevron-down"></i></button>
                </div>
                <div class="home-truck-data-names">
                        <div class="home-truck-data-names-number">Truck Number</div>
                        <div class="home-truck-name-hr">
                                <span class="home-truck-name-BPM">Heart Rate</span> 
                        </div>
                        <div class="home-truck-name-oxy">
                                <span class="home-truck-name-percent">Blood Oxygen</span> 
                        </div>
                        <div class="home-truck-name-hr">
                                <span class="home-truck-name-BPM">Body Temperature</span> 
                        </div>
                        <button id="hidden-home-drop-down-btn"><i class="fa-solid fa-circle-chevron-down"></i></button>
                </div>

                <div class="home-trucks-data">
                        <div class="home-truck-data">
                                <div class="home-truck-number">
                                        <div class="home-truck-number-header">
                                        </div>
                                        <div class="home-truck-number-data"><i class="fa-solid fa-truck-moving"></i> MH 01 AA 1010</div>
                                </div>
                                <div class="home-driver-hr">
                                        <div class="home-driver-hr-header"><i class="fa-solid fa-heart-pulse"></i> Heart Rate</div>
                                        <div class="home-driver-hr-data">72 BPM</div>
                                </div>
                                <div class="home-driver-oxy">
                                        <div class="home-driver-oxy-header"><i class="fa-solid fa-hand-holding-medical"></i> SpO2</div>
                                        <div class="home-driver-oxy-data">98 %</div>
                                </div>
                                <div class="home-driver-temp">
                                        <div class="home-driver-temp-header"><i class="fa-solid fa-temperature-half"></i> Temperature</div>
                                        <div class="home-driver-temp-data">36 &#176;C</div>
                                </div>
                        </div>
                        <div class="home-truck-data">
                                <div class="home-truck-number">
                                        <div class="home-truck-number-header">
                                        Truck No.</div>
                                        <div class="home-truck-number-data"><i class="fa-solid fa-truck-moving"></i> MH 01 AA 1010</div>
                                </div>
                                <div class="home-driver-hr">
                                        <div class="home-driver-hr-header"><i class="fa-solid fa-heart-pulse"></i> Heart Rate</div>
                                        <div class="home-driver-hr-data"><span id="hr"></span> BPM</div>
                                </div>
                                <div class="home-driver-oxy">
                                        <div class="home-driver-oxy-header"><i class="fa-solid fa-hand-holding-medical"></i> SpO2</div>
                                        <div class="home-driver-oxy-data"><span id="oxy"></span> %</div>
                                </div>
                                <div class="home-driver-temp">
                                        <div class="home-driver-temp-header"><i class="fa-solid fa-temperature-half"></i> Temperature</div>
                                        <div class="home-driver-temp-data"><span id="temp"></span> &#176;C</div>
                                </div>
                        </div>
                </div>
        </div-->